<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dibole.dao.mysql.zrrdk.ZrrUserInvitecodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dibole.entity.zrrdk.ZrrUserInvitecode">
        <id column="rec_id" property="recId" />
        <result column="user_id" property="userId" />
        <result column="invitecode_img_id" property="invitecodeImgId" />
        <result column="create_datetime" property="createDatetime" />
        <result column="update_datetime" property="updateDatetime" />
        <result column="oauth_id" property="oauthId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rec_id, user_id, invitecode_img_id, create_datetime, update_datetime, oauth_id
    </sql>

</mapper>
