<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dibole.dao.mysql.zrrdk.ZrrWithdrawCfgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dibole.entity.zrrdk.ZrrWithdrawCfg">
        <id column="REC_ID" property="recId" />
        <result column="TYPE" property="type" />
        <result column="RATE" property="rate" />
        <result column="LOW_AMT" property="lowAmt" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="MONTH_MAX_AMT" property="monthMaxAmt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REC_ID, TYPE, RATE, LOW_AMT, STATUS, CREATE_TIME, UPDATE_TIME, MONTH_MAX_AMT
    </sql>

</mapper>
